@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
.light {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-text-dark: #1a1a1a;
  --color-text-darker: #0f0f0f;
  --color-text-secondary: #6b7280;
  --color-text-muted: #4b5563;
  --color-card: #f3f4f6;
  --color-border: #e5e7eb;
  --color-border-secondary: #d1d5db;
  --color-primary: #2563eb;
  --color-secondary: #10b981;
  --color-accent: #d8dce2;
}

:root {
  --color-bg: #0f172a;
  --color-text: #ffffff;
  --color-text-dark: #e6e6e6;
  --color-text-darker: #cccccc;
  --color-text-secondary: #94a3b8;
  --color-text-muted: #475569;
  --color-card: #162033;
  --color-border: #253144;
  --color-border-secondary: #1e293b;
  --color-primary: #3b82f6;
  --color-secondary: #2dac7d;
  --color-accent: #2e394b;
}
.purple {
  --color-bg: #1e1b2e;
  --color-text: #f3e8ff;
  --color-text-dark: #e6d5ff;
  --color-text-darker: #d4bbff;
  --color-text-secondary: #c4b5fd;
  --color-text-muted: #54437c;
  --color-card: #2a213d;
  --color-border: #442572;
  --color-border-secondary: #443972;
  --color-primary: #a855f7;
  --color-secondary: #9333ea;
  --color-accent: #4a266b;
}
.green {
  --color-bg: #102418;
  --color-text: #e6ffe6;
  --color-text-dark: #b6e7b6;
  --color-text-darker: #8fc98f;
  --color-text-secondary: #6ee7b7;
  --color-text-muted: #4b7154;
  --color-card: #183c26;
  --color-border: #225c36;
  --color-border-secondary: #1a4730;
  --color-primary: #34d399;
  --color-secondary: #059669;
  --color-accent: #34523e;
}

.gray {
  --color-bg: #181a1b;
  --color-text: #e5e7eb;
  --color-text-dark: #d1d5db;
  --color-text-darker: #9ca3af;
  --color-text-secondary: #8a909b;
  --color-text-muted: #4b5563;
  --color-card: #232526;
  --color-border: #2d2f31;
  --color-border-secondary: #343536;
  --color-primary: #6366f1;
  --color-secondary: #818cf8;
  --color-accent: #343535;
}

/* .theme-purple {
  --color-bg: #1e1b2e;
  --color-text: #f3e8ff;
  --color-text-dark: #e6d5ff;
  --color-text-darker: #d4bbff;
  --color-text-secondary: #c4b5fd;
  --color-text-muted: #54437c;
  --color-card: rgb(31, 25, 51);
  --color-border: #321061;
  --color-border-secondary: #2a225f;
  --color-primary: #a855f7;
  --color-secondary: #9333ea;
  --color-accent: #3b1e57;
} */

.Toastify__toast-theme--dark {
  @apply bg-[--color-card] text-[--color-text] border border-[--color-border] shadow-lg;
}

.Toastify__toast-theme--light {
  @apply bg-blue-400 text-base border border-blue-400;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}
* {
  user-select: none;
}

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.recharts-line path {
  stroke: theme('colors.sparkle.primary');
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: theme('colors.slate.700');
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.slate.600');
}
